---
import Blob from "../components/blobs.astro";
import contactInfo from "../data/contactinfo.json";
---

<article
  id="contact"
  class="relative overflow-hidden space-y-8 fade-in opacity-0 transition-all duration-700 ease-in-out motion-reduce:transition-none"
>
  <div class="container sectionheader">
    <h2>Yhteys&shy;tiedot</h2>
    <p>Ota yhteytt채 ja pyyd채 tarjous</p>
  </div>
  <div
    id="contact-info"
    class="container flex flex-col gap-x-10 justify-center items-center scroll-from-right opacity-0 blur-sm -translate-x-full transition-all delay-200 ease-in-out duration-1000 motion-reduce:transition-none sm:flex-row"
  >
    <div
      class="space-y-5 backdrop-blur-xl shadow-lg shadow-neutral-900 p-4 rounded-xl sm:max-w-sm sm:w-2/3 lg:w-auto"
    >
      <div class="flex flex-col items-start gap-3">
        {
          contactInfo.map((contact) => (
            <div class="flex gap-x-5 items-center">
              <img
                src={`./icons/${contact.icon}`}
                alt={`kontakti ikoni ${contact.name}:ia varten`}
                class="w-16 aspect-square"
              />
              {contact.url ? (
                <a
                  href={contact.url}
                  target="_blank"
                  class="break-words underline-offset-4 transition-all 
              flex items-center gap-x-1
              hover:text-secondary hover:underline"
                >
                  {contact.tag}
                  <img
                    src="./icons/target-blank.svg"
                    alt=""
                    role="presentation"
                    class="inline-block w-4 stroke-red-500"
                  />
                </a>
              ) : (
                <p
                  class="break-words underline-offset-4 transition-all 
                  flex items-center gap-x-1 select-all
                  hover:text-secondary"
                >
                  {contact.tag}
                </p>
              )}
            </div>
          ))
        }
      </div>
    </div>
    <div class="image relative w-full -z-20 self-center sm:w-1/3 md:w-auto">
      <img
        src="images/amorkuva.png"
        alt="kuva Miiasta hymyilem채ss채"
        class="mx-auto max-h-[400px] sm:w-full"
      />
      <Blob
        type="contacts"
        className="absolute bottom-0 -left-10 h-5/6 opacity-25 -z-20"
      />
      <Blob
        type="contacts"
        className="absolute -bottom-8 -right-0 h-full -rotate-[60deg] \
        opacity-10 -z-20 sm:-right-1/4"
      />
    </div>
    <div
      class="absolute w-full h-1/3 -z-10 bottom-0 left-0 bg-gradient-to-t from-primary to-transparent sm:h-1/4"
    >
    </div>
    <div
      class="absolute w-full h-1/3 -z-10 bottom-0 left-0 bg-gradient-to-t from-primary to-transparent sm:h-1/3"
    >
    </div>
  </div>
</article>
