---
import Blobs from "../components/blobs.astro";
import Others from "./_others.astro";
import partners from "../data/partners.json";

type ShowcasedPartner = {
  business: string;
  description: string;
  name: string;
  logo: string;
};

type OtherPartner = {
  business: string;
  logo: string;
};

function isShowcasedPartner(
  partner: ShowcasedPartner | OtherPartner
): partner is ShowcasedPartner {
  return "description" in partner;
}

const showcasedPartners: ShowcasedPartner[] =
  partners.filter(isShowcasedPartner);
---

<article class="space-y-8 pl-5 md:pl-auto md:px-8">
  <div class="sectionheader container">
    <h2 class="mb-0 leading-snug">Yhteistyö&shy;kumppaneita</h2>
  </div>
  <div
    id="carousel"
    class="grid grid-flow-col max-w-min mx-auto gap-x-6 overflow-x-scroll py-5 px-2"
  >
    {
      showcasedPartners.map((partner: ShowcasedPartner, index: number) => (
        <div
          class={`flex flex-col justify-center items-center gap-y-3 w-80 p-6
            shadow-black shadow-lg rounded-xl relative overflow-hidden isolate
            transition-all opacity-0 duration-500 fade-in delay-[${index * 200}ms]
            blur-sm motion-reduce:transition-none
            ${index % 2 === 0 ? "bg-primary" : "bg-secondary-900"}`}
        >
          <img
            src={`./icons/${partner.logo}`}
            alt={`${partner.business} -logo`}
            class="w-1/2 select-none"
            draggable="false"
          />
          <p class="text-center select-none">{partner.description}</p>
          <div class="text-center select-none">
            <p class="italic mb">- {partner.name}</p>
            <p class="italic">{partner.business}</p>
          </div>
          <Blobs
            type="partners"
            className="absolute -bottom-16 -left-16 h-2/3 opacity-25 -z-10 -rotate-6 scale-110"
          />
          <Blobs
            type="partners"
            className="absolute -top-16 -right-24 h-2/3 opacity-10 -z-20 rotate-[200deg]"
          />
        </div>
      ))
    }
  </div>
  <Others />
</article>

<script>
  /*
  Script for making the product sliders at the end of the page work
  and scrollable with mouse on desktop the same way as touch on mobile
*/
  const preloadDelay = "delay-[200ms] delay-[400ms] delay-[600ms] delay-[800ms] delay-[1000ms]"
  const slider: HTMLDivElement | null = document.querySelector("#carousel");
  let isDown: boolean = false;
  let startX: number;
  let scrollLeft: number;

  slider?.addEventListener("mousedown", (event) => {
    isDown = true;
    slider.classList.add("mouse-hold");
    startX = event.pageX - slider.offsetLeft;
    scrollLeft = slider.scrollLeft;
  });
  slider?.addEventListener("mouseleave", (_) => {
    isDown = false;
    slider.classList.remove("mouse-hold");
  });
  slider?.addEventListener("mouseup", (_) => {
    isDown = false;
    slider.classList.remove("mouse-hold");
  });
  slider?.addEventListener("mousemove", (event) => {
    if (!isDown) return;
    event.preventDefault();
    const x: number = event.pageX - slider.offsetLeft;
    const scrollSpeed: number = 1;
    const walk: number = (x - startX) * scrollSpeed;
    slider.scrollLeft = scrollLeft - walk;
  });

</script>
